.gallery {
    &--wrapper {
        @media screen and (min-width: 1200px) {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    &--grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
        align-items: center;
        justify-items: center;
        align-content: center;
        justify-content: center;
        @media screen and (min-width: 678px) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media screen and (min-width: 1200px) {
            align-self: center;
            max-width: 60%;
        }
    }
}

.image {
    &--wrapper {
        width: 20em;
        height: 20em;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    &--image {
        width: 100%;
        height: auto;
        flex-shrink: 0;
        cursor: pointer;
        &__vertical{
            height: 100%;
            width: auto;
        }
    }
}
