$text-color: rgb(187, 187, 187);

.regala-luz-wrapper {
    margin: 0 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.regala-luz-container {
    max-width: 90%;
}

.header {
    &__container {
        display: flex;
        flex-direction: column;
    }
    &__left {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &__right {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 2em 0;
    }
    &__image {
        max-width: 100%;
    }
    &__title {
        font-size: 2em;
        text-align: center;
        font-weight: 600;
        margin: 0 0.7em;
        margin-bottom: 0.8em;
    }
    &__button {
        margin-top: 2em;
    }
}

.feature {
    &__container {
        display: flex;
        flex-direction: column;
    }
    &__wrapper {
        margin-bottom: 2em;
        width: fit-content;
    }
    &__title {
        font-size: 1.5em;
        margin-bottom: 0;
        color: $text-color;
    }
    &__divider {
        width: 30%;
        margin-top: 3px;
        color: rgb(157, 161, 165);
        text-align: left;
        margin-left: 0;
    }
    &__description {
        color: $text-color;
    }
}

.price {
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2em;
    }
    &__container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__title {
        font-size: 1.2em;
    }
    &__divider {
        width: 20%;
    }
    &__quantity {
        font-size: 1.2em;
    }
}

@media only screen and (min-width: 1200px) {
    .regala-luz-wrapper {
        align-items: center;
        justify-content: center;
    }
    .regala-luz-container {
        max-width: 60%;
    }
    .header {
        &__container {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }
        &__image {
            max-width: 25vw;
        }
    }
    .feature {
        &__container {
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-evenly;
        }
        &__wrapper {
            margin-right: 2em;
            max-width: 33%;
        }
    }
}
